@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.3\ Montserrat-Regular.ttf.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.3\ Montserrat-Bold.ttf.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.3\ Montserrat-Light.ttf.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/2.3\ Montserrat-Italic.ttf.ttf');
    font-weight: normal;
    font-style: normal;
}